<% provide(:title, "Home") %>
<% provide(:class, "home") %>

<ul>
  <li>Chart your globetrotting activities.</li>
  <li>Keep notes about each country.</li>
  <li>Plan your next trip.</li>
  <li>Click <%= link_to "here", example_path %> to see an example.</li>
</ul>
