<h1>Visualize the World</h1>

<p>
  Welcome! Click on the link below to activate your account:
</p>

<%= link_to("Activate", edit_account_activation_url(@user.activation_token, email: @user.email)) %>
