<h1>Contact form submission</h1>

<ul>
  <li>Subject: <%= @message.subject %></li>
  <li>From: <%= @message.name %> (<%= @message.email %>)</li>
</ul>

<div>
  <%= simple_format(@message.body ) %>
</div>
