<svg id="world-map" viewBox="0 0 900 450"
  preserveAspectRatio="xMidYMid meet"></svg>

<nav class="projection">
  <%= label(:map, :projection, "Map projection:") %>
  <%= select(:map, :projection, Map.projections_array) %>
</nav>

<script>

  document.addEventListener('turbolinks:load',function() {
    document.querySelector('select[name="map[projection]"]').onchange=reloadMap;
  },false);

  function reloadMap(event) {
    if (!event.target.value) alert('Please select one');

    updateProjection(d3[event.target.value]());
  }

  function updateProjection(projection) {
      projection.fitSize([width, height], { type: "Sphere" });

      var geoPath = d3.geoPath()
        .projection(projection);

      svg.selectAll('path')
          .attr('d', geoPath);
  }

  var svg = d3.select('#world-map'),
      viewBox = svg.attr('viewBox').toString().split(' '),
      width = +viewBox[2],
      height = +viewBox[3];
      
  var mapContents = [
    <% @map.get_selected_nums.each do |n| %>
      "<%= n %>",
    <% end %>
    ];

  function toggleDisplayedCountry(id) {
    var old_selected = d3.selectAll('.countrySelected');
    var new_selected = d3.selectAll('#label-country-' + id +
                                    ', #country-' + id +
                                    ', #content-country-' + id );
    new_selected.classed('countrySelected', function(d) {
      return !d3.select(this).classed('countrySelected')
    });
    old_selected.classed('countrySelected', false);
    if(d3.select('.countrySelected').empty()) {
      d3.select('#labelDefault').classed('countrySelected', true);
    }
  }

  function isInContent(id) {
    return (mapContents.indexOf(id) != -1);
  }

  d3.json("https://unpkg.com/world-atlas@1/world/110m.json", function(error, world) {
    if (error) throw error;
    var countries = topojson.feature(world, world.objects.countries);
    var borders = topojson.mesh(world, world.objects.countries);

    var defs = svg.append("defs");

    defs.append("path")
        .datum({ type: "Sphere" })
        .attr("id", "sphere");

    defs.append("clipPath")
        .attr("id", "clip")
      .append("use")
        .attr("xlink:href", "#sphere");

    svg.append("use")
        .attr("xlink:href", "#sphere")
        .attr("class", "map-background");

    svg.append('path')
        .datum(d3.geoGraticule())
        .attr("class", "map-graticule")
        .attr("clip-path", "url(#clip)");

    svg.selectAll('path.country')
        .data(countries.features)
      .enter().append("path")
        .attr("clip-path", "url(#clip)")
        .classed("map-country", true)
        .classed("map-content", function(d) { return isInContent(d.id) } )
        .attr("id", function(d) { return "country-" + d.id; })
        .on("click", function(d) { toggleDisplayedCountry(d.id) });

    svg.append('path')
        .datum(borders)
        .attr("class", "map-borders")
        .attr("clip-path", "url(#clip)");

    svg.append("use")
        .attr("xlink:href", "#sphere")
        .attr("class", "map-borders");

    updateProjection(d3['<%= @map.projection %>']());
  })
</script>
