<% provide(:title, "Edit map") %>
<% provide(:form_dest, map_path) %>
<% @form_submit_names = ["Cancel", "Update map settings"] %>

<h1>Edit: <%= @map.title %></h1>
  <%= link_to "Return to view", @map %>

<h2>Edit map settings</h2>
  <%= render 'form' %>

<h2>Edit map content</h2>

  <%= link_to "Return to view", @map %>
