@import 'util/color-box-link.scss';

main.home {
  &.login {
    nav:not(.projection) {
      margin: 0 auto;
      > * {
        display: block;
        padding: $base-unit / 2 $base-unit;
      }
      a {
        @extend %color-box-link;
      }
    }
    nav.maps {
      margin-bottom: $base-unit * 2;
      > * {
        text-align: left;
        margin: 0;
        border-top: 1px solid $color-accent;
        &:last-child {
          border-bottom: 1px solid $color-accent;
        }
      }
      a:hover, a:active {
        background-color: $color-accent-light;
      }
    }
    nav.buttons {
      text-align: center;
      display: flex;
      justify-content: center;
      margin: $base-unit * 2 0;
      > * {
        border: 2px solid $color-accent;
        border-right: none;
        &:last-child {
          border-right: 2px solid $color-accent;
        }
        background-color: $color-accent-light;
      }
    }
    nav.buttons:first-child {
      margin-top: 0;
    }
  }
  &.logout {
    ul {
      padding: 0;
      list-style: none;

      li {
        font-family: $font-family-header;
        font-weight: 400;
        font-size: 1.4 * $base-unit;
        line-height: 2 * $base-unit;

        &:last-of-type {
          margin-top: $base-unit;
        }
        @media (max-width: $media-toggle) {
          font-size: 1.2 * $base-unit;
          line-height: 1.6 * $base-unit;
        }
      }
    }
  }
}
