main.map-index {
  table {
    tr {
      > * {
        text-align: center;
      }
      > :first-child {
        text-align: left;
      }
    }
  }
}

main.map-show {
  table tr > * {
    text-align: left;
  }
  tr:not(:first-child):hover, tr.countrySelected {
    background-color: $color-accent-light;
  }
}

main.map-edit {
  form.new_map_content {
    grid-auto-flow: column dense;
    > label, > div.field_with_errors > label, > input {
      text-align: left;
      grid-column: 1;
    }
    textarea {
      grid-row: span 2;
      grid-column: 2;
    }
  }
  form.edit_map_contents {
    > label {
      text-align: left;
    }
    > a {
      display: block;
      grid-column: 1;
    }
    textarea {
      grid-row: span 2;
    }
  }
}


svg#world-map {
  width: 100%;
  height: auto;
  display: block;
  .map-borders, .map-outline {
    fill: none;
    stroke: $color-map-lines;
    stroke-width: .5px;
  }
  .map-background {
    fill: $color-ocean;
  }
  .map-graticule {
    fill: none;
    stroke: $color-ocean-lines;
    stroke-width: .5px;
  }
  .map-country {
    fill: white;
    stroke: none;
  }
  .map-country:hover {
    fill: $color-accent;
  }
  .map-content {
    fill: $color-contrast;
  }
  .countrySelected {
    fill: $color-accent-dark;
  }
}
#map-label {
  margin: $base-unit * 2 0;
  border: 2px solid $color-accent-dark;
  padding: 0 $base-unit;
  > div {
    > p:first-child {
      grid-column: 1 / span 2;
    }
    > * {
      margin: 0;
      display: block;
    }
    > h2 {
      line-height: 1.2em;
      grid-column: 1 / span 1;
    }
    > p:nth-child(n+2) {
      grid-column: 1 / span 1;
      margin-top: $base-unit / 2;
    }
    > ul {
      grid-column: 2;
      grid-row: 1 / span 4;
    }
    grid-template-columns: 1fr 1fr;
    padding: $base-unit;
    display: none;
    &.countrySelected {
      display: grid;
    }
  }
}
