main.map-index {
  table {
    tr {
      > * {
        text-align: center;
      }
      > :first-child {
        text-align: left;
      }
    }
  }
}

main.map-show {
  table tr > * {
    text-align: left;
  }
  tr:not(:first-child):hover, tr.countrySelected {
    background-color: $color-accent-light;
  }
}

main.map-edit {
  form.new_map_content {
    grid-auto-flow: column dense;
    min-height: 100px;
    grid-template-rows: min-content 1fr;
    label, select {
      text-align: left;
      grid-column: 1;
    }
    textarea {
      grid-row: 1 / span 2;
      grid-column: 2;
      height: inherit;
    }
  }
  form.edit_map_contents {
    label {
      text-align: left;
    }
    a {
      display: block;
      grid-column: 1;
    }
    textarea {
      grid-column: 2;
      grid-row: 1 / span 2;
      height: inherit;
    }
  }
}
