main.map-index {
  table {
    tr {
      > * {
        text-align: center;
      }
      > :first-child {
        text-align: left;
      }
    }
  }
}

main.map-show {
  table tr > * {
    text-align: left;
  }
}
