main.user_show {

  table {
    margin-bottom: $base-unit;
    th {
      text-align: right;
    }
  }
  > a {
    display: block;
    max-width: 400px;
    width: max-content;
    text-align: center;
    margin: $base-unit * 2 auto $base-unit * 4;
  }
  > a:last-child {
    padding: $base-unit $base-unit * 2 0;
    margin-bottom: 0;
    border-top: 2px solid $color-accent-light;
  }
}

main.user_login {
  form > section {
    height: inherit;
    min-height: inherit;
    span {
      text-align: right;
      grid-row: 2;
    }
    @media (max-width: $media-toggle) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      label, span {
        text-align: left;
        display: block;
        width: auto;
      }
      input {
        width: 100%;
      }
    }
  }
}
