<% provide(:title, "Account settings") %>
<% provide(:class, "user_show") %>

<h1>Account settings</h1>

<table>
  <tr><th>Email</th><td><%= @user.email %></td></tr>
  <tr><th>Password</th><td>******</td></tr>
  <tr><th>Last updated</th><td><%= @user.updated_at %></td></tr>
</table>

<%= link_to "Edit account settings", edit_user_path %>

<%= link_to "Delete account", user_path, method: :delete,
    data: { confirm: "Are you sure? Deleting an account is permanent." } %>
