$content-width: 900px;

$base-unit: 1rem;

$color-base-text: black;
$color-link: blue;
$color-link-hover: darkblue;
$color-link-visited: purple;

$font-family-body: 'Open Sans', sans-serif;
$font-family-header: 'BioRhyme', serif;
$font-family-title: 'Permanent Marker', cursive;

$media-toggle: 700px;

$color-success: lightgreen;
$color-warning: darkred;
