// Color variable names
$red: #b71c1c;
$yellow: #ffc107;
$pale-yellow: #ffecb3;
$dark-yellow: #FF8E00;
$blue: #1976d2;
$light-blue: #4fc3f7;
$teal: #00D6C0;

// Basic dimensions
$content-width: 900px;
$base-unit: 1rem;
$media-toggle: 700px;

// Colors
$color-base-text: black;

$color-accent: $yellow;
$color-accent-light: $pale-yellow;
$color-accent-dark: $dark-yellow;

$color-contrast: $teal;
$color-ocean: #EDFAFF;
$color-ocean-lines: #A6E0F6;
$color-map-lines: #263238;

$color-link: $blue;
$color-link-hover: $light-blue;
$color-link-visited: $blue;

$color-box-hover: $yellow;

$color-alert: $light-blue;
$color-warning: $red;

// Fonts
$font-family-body: 'Open Sans', sans-serif;
$font-family-header: 'BioRhyme', serif;
$font-family-title: 'Permanent Marker', cursive;
