<% provide(:title, "422: Rejected change") %>
<% provide(:class, "error") %>

<h1>404: Rejected change</h1>

<p>The change you wanted was rejected.</p>
<p>Maybe you tried to change something you didn't have access to.</p>
