@import 'util/color-box-link.scss';

$top-spacing: $base-unit / 2;

footer {
  border-top: $base-unit solid $color-accent-light;
  padding: 0 0 $base-unit;

  & > * {
    margin: 0;
  }
  nav {
    grid-column: 2 / span 2;
    display: block;
    a {
      @extend %color-box-link;
      display: inline-block;
      padding: $top-spacing $base-unit;
    }
  }
  p {
    margin-top: $top-spacing;
    grid-column: 4 / span 3;
    display: block;
    text-align: right;
    font-size: small;
  }
}

@media (max-width: $media-toggle) {
  footer {
    & > nav, & > p {
      grid-column: main;
    }
    nav {
      display: flex;
      justify-content: center;
    }
    p {
      text-align: center;
    }
  }
}
