form {
  justify-content: center;
  display: grid;
  grid-template-columns: [full-start]
    minmax(0, 200px) minmax(0, 400px) [full-end];
  grid-column-gap: $base-unit;
  grid-row-gap: $base-unit / 2;

  & > *, div.field_with_errors > * {
    display: block;
  }
  label {
    text-align: right;
  }
  input {
    width: 100%;
    padding: 0 $base-unit / 4;
  }

  > input[type=submit], div.submit {
    margin-top: $base-unit;
    grid-column: full;
  }
  input[type=submit] {
    padding: $base-unit / 2;
    border: 2px solid $color-accent;
    background-color: $color-accent-light;
    &:hover, &:active {
      background-color: $color-accent;
    }
  }
  div.submit {
    display: flex;
    input:not(:last-child) {
      background-color: white;
      border-right: none;
      &:hover, &:active {
        background-color: $color-accent;
      }
    }
  }

  p {
    margin: $base-unit / 2 0;
    grid-column: full;
  }

  div.radio {
    display: flex;
    div {
      flex-grow: 1;
      flex-wrap: wrap;
    }
    div > * {
      display: inline-block;
      width: auto;
    }
  }
}
