@import 'util/color-box-link';

header {
  border-bottom: 1px solid $color-accent;
  padding: $base-unit * 2 0 0;

  h1 {
    display: block;
    grid-column: 2 / span 4;
    margin: 0;
    font-family: $font-family-title;
    font-weight: bold;
    justify-self: start;
    align-self: end;
    a {
      padding: 0 $base-unit / 2;
      @extend %color-box-link;
    }
  }

  nav {
    display: block;
    grid-column: 6;
    justify-self: end;
    align-self: end;
    width: 100%;
    a, div.dropdown > label {
      padding: $base-unit / 4 $base-unit / 2;
      display: block;
    }
    a {
      text-align: right;
      @extend %color-box-link
    }

    div.dropdown {
      min-width: 160px;
      position: relative;
      input {
        opacity: 0;
        display: block;
        position: absolute;
      }
      div.dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        left: auto;
        background-color: white;
        border: 1px solid $color-accent;
        width: 100%;
        a:hover, a:active {
          background-color: $color-accent-light;
        }
        a:last-of-type {
          border-top: 1px solid $color-accent;
        }
      }
      label {
        @extend %color-box-link;
        text-align: right;
        width: 100%;
        span {
          display: inline-block;
        }
      }
      input:checked {
        & + label span.arrow {
          -moz-transform: scale(1, -1) translateY(-3px);
          -webkit-transform: scale(1, -1) translateY(-3px);
          -o-transform: scale(1, -1) translateY(-3px);
          -ms-transform: scale(1, -1) translateY(-3px);
          transform: scale(1, -1) translateY(-3px);
        }
        & ~ div.dropdown-content {
          display: block;
        }
      }
    }
  }
}

@media (max-width: $media-toggle) {
  header {
    padding-top: $base-unit;
    & > h1, & > nav {
      grid-column: main;
    }
    nav {
      display: flex;
      justify-content: flex-end;
      margin-top: $base-unit / 2;
      div.dropdown div.dropdown-content {
        position: relative;
        margin-left: auto;
        border: none;
        a:first-child {
          border-top: 1px solid $color-accent;
        }
      }
    }
  }
}
