@import 'util/discreet-link';

header {
  border-bottom: 1px solid black;
  padding: $base-unit*2 0 $base-unit;

  h1 {
    display: block;
    grid-column: 2 / span 4;
    margin: 0;
    font-family: $font-family-title;
    //font-size: 24px;
    font-weight: bold;

    a {
      @extend %discreet-link
    }
  }

  nav {
    display: block;
    grid-column: 6;// / span 2;
    a {
      display: block;
      text-align: right;
      @extend %discreet-link
    }
  }
}

@media (max-width: $media-toggle) {
  header {
    & > h1, & > nav {
      grid-column: main;
    }
    nav {
      display: flex;
      justify-content: flex-end;
      margin-top: $base-unit / 2;
      a:nth-child(2) {
        padding-left: $base-unit;
      }
    }
  }
}
